/* Estilos generales */

/* Estilo para el cuerpo del documento */
body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0;
  padding: 0;
  background-color: #fff9f1;
  color: #333333;
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px; /* Agregar un poco de espacio en los bordes del contenedor */
}

/* Encabezado */
header {
  background-color: #6c1414;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header img {
  vertical-align: middle;
}

/* Menú de navegación */
nav.menu {
  background-color: #9c1e1e;
  color: #fff;
  padding: 15px;
  border-bottom: 2px solid #7b1717;
}

nav.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav.menu li {
  margin: 0 20px;
}

nav.menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav.menu a:hover {
  color: #f6c60d;
}

nav.menu a:active {
  color: #e8e2da;
}

/* Contenido principal */
main {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f5ed;
}

main h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

main p {
  font-size: 16px;
  line-height: 1.5;
}

/* Barra lateral izquierda */
aside.izquierda {
  flex-basis: 30%;
  padding: 20px;
  background-color: #e8e2da;
  margin-right: 20px;
}

aside.izquierda h5 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Barra lateral derecha */
aside.derecha {
  flex-basis: 30%;
  padding: 20px;
  background-color: #e8e2da;
  margin-left: 20px;
}

aside.derecha h5 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Pie de página */
footer {
  background-color: #6c1414;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
