body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;

}

header {

    background-color: #3b0707;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav img {
    background-color: #ff1818;
    
}

nav.menu {
    background-color: #3b3939;
    color: #fff;
    padding: 25px;
    border: #525050 solid;
}

nav.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav.menu li {
    margin: 0 60px;
}

nav.menu a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

aside {
    border: #525050 solid;

    width: 25%;
    padding: 30px;
    background-color: #beb9b929;

}

.izquierda {
    text-align: center;
}

.derecha {
    text-align: center;
}

main {
    border: #5b5959 solid;

    flex-grow: 1;
    padding: 20px;
    background-color: #a1a0a05a;
}

footer {
    background-color: #cd0b0b;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2,
h3,
p {
    color: #fff6f6;
}

a {
    color: #fffdfd;
}

a:hover {
    color: #fff7f7;
}